<template>
    <q-page>
        <thanks></thanks>
    </q-page>
</template>
<script lang="ts">
import Vue from 'vue'
import thanks from 'components/pages/payment/thanks.vue'
export default Vue.extend({
    name: 'PaymentThanks',
    components: {
        thanks
    }
})
</script>