<template>
    <q-page>
        <coaching></coaching>
    </q-page>
</template>
<script lang="ts">
import Vue from 'vue'
import coaching from 'components/Pages/Coaching/Coaching.vue'
export default Vue.extend({
    name: 'OneToOneCoaching',
    components: {
        coaching
    }
})
</script>