<template>
  <q-page class="row items-center justify-evenly">
    <index></index>
  </q-page>
</template>

<script>
import Index from 'components/Pages/home/Index.vue';
import { Vue, Component } from 'vue-property-decorator';

@Component({
  components: { Index }
})
export default class PageIndex extends Vue {
  
};
</script>
<style type="text/css">
@import '../css/stylesheetone.css'
</style>
