<template>
    <q-page padding>
        <paymentform></paymentform>
    </q-page>
</template>
<script lang="ts">
import Vue from 'vue'
import paymentform from 'components/pages/payment/PaymentForm.vue';
export default Vue.extend({
    components: {
        paymentform
    }
})
</script>
<style>
@import '../css/Payment/Payment.css'
</style>