<template>
    <q-page  padding>
        <posts></posts>
    </q-page>
</template>
<script lang="ts">
import Vue from 'vue'
import Posts from 'components/pages/posts/PostsSite.vue'
export default Vue.extend({
    components: {
        Posts
    }
})
</script>