.garbage {
    display: none;
}

    .garbage[style*=inline] + input,
    .garbage[style*=inline] + select,
    .garbage[style*=inline] + textarea {
        background-color: #ffcccc;
        border: 1px solid #ff0000;
    }


p {
    font-size: 17px;
    line-height: 25px;
}

.shadow {
    -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 3px 5px 6px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.firstcharacter {
    color: #2c5e91;
    font-weight: bold;
    float: left;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

i {
    color: dodgerblue;
}

p {
    padding-bottom: 10px;
}

.ticks ul, .bonus ul {
    list-style: none;
    padding-left: 0;
    padding: 10px;
}

.ticks li, .bonus li {
    position: relative;
    padding-left: .5em; /* space to preserve indentation on wrap */
    margin-right: 10px;
}

    .ticks li:before, .bonus li:before {
        content: ""; /* placeholder for the SVG */
        position: absolute;
        left: 0; /* place the SVG at the start of the padding */
        width: 2em;
        height: 1.5em;
        background: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='utf-8'?><svg width='18' height='18' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'><path d='M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z'/></svg>") no-repeat;
        padding-right: 10px;
    }

.ticks .list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    padding-left: 15px;
    margin-bottom: 0px;
    background-color: #fff;
    border: 0px solid #333;
}

.bonus .list-group-item, .bonus p {
    position: relative;
    display: block;
    padding: 10px 15px;
    padding-left: 10px;
    margin-bottom: 0px;
    background-color: #ddd;
    border: 0px solid #333;
    color: #333;
}



.fancy-checkbox {
    position: relative;
    display: block;
    padding: 0 0 0 25px;
    margin: 0;
    cursor: pointer;
}

    .fancy-checkbox input {
        display: none;
    }

    .fancy-checkbox label {
        cursor: pointer;
        padding-left: 0;
        color: #111111;
        font-size: 15px;
    }

    .fancy-checkbox input[type="checkbox"] + label:before {
        position: absolute;
        top: 1px;
        left: 0;
        font-family: FontAwesome;
        content: "\f096";
        font-size: 20px;
        line-height: 1;
        color: #111;
    }

    .fancy-checkbox input[type="checkbox"]:checked + label:before {
        content: "\f14a";
        color: #4285f4;
    }

.paymentPointsList {
    color: black;
    padding-left: 38px;
    font-size: 10px;
}

    .paymentPointsList li {
        list-style: disc;
    }




.testim {
    width: 100%;
    height: 0px;
    position: relative;
    top: -85px;
    -webkit-transform: translatey(-50%);
    -moz-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    -o-transform: translatey(-50%);
    transform: translatey(-50%);
}

    .testim .wrap {
        position: relative;
        width: 100%;
        max-width: 1020px;
        padding: 40px 20px;
        margin: auto;
    }

    .testim .arrow {
        display: block;
        position: absolute;
        color: #eee;
        cursor: pointer;
        font-size: 2em;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        padding: 5px;
        z-index: 22222222;
    }

        .testim .arrow:before {
            cursor: pointer;
        }

        .testim .arrow:hover {
            color: #337ab7;
        }


        .testim .arrow.left {
            left: 10px;
        }

        .testim .arrow.right {
            right: 10px;
        }

    .testim .dots {
        text-align: center;
        position: absolute;
        width: 100%;
        bottom: 60px;
        left: 0;
        display: block;
        z-index: 3333;
        height: 12px;
    }

        .testim .dots .dot {
            list-style-type: none;
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: 1px solid #eee;
            margin: 0 10px;
            cursor: pointer;
            -webkit-transition: all .5s ease-in-out;
            -ms-transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            -o-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
            position: relative;
        }

            .testim .dots .dot.active,
            .testim .dots .dot:hover {
                background: #337ab7;
                border-color: #337ab7;
            }

            .testim .dots .dot.active {
                -webkit-animation: testim-scale .5s ease-in-out forwards;
                -moz-animation: testim-scale .5s ease-in-out forwards;
                -ms-animation: testim-scale .5s ease-in-out forwards;
                -o-animation: testim-scale .5s ease-in-out forwards;
                animation: testim-scale .5s ease-in-out forwards;
            }

    .testim .cont {
        position: relative;
        overflow: hidden;
    }

        .testim .cont > div {
            text-align: center;
            position: absolute;
            top: 0;
            left: 0;
            padding: 0 0 70px 0;
            opacity: 0;
        }

            .testim .cont > div.inactive {
                opacity: 1;
            }


            .testim .cont > div.active {
                position: relative;
                opacity: 1;
            }


        .testim .cont div h2 {
            color: #337ab7;
            font-size: 1em;
            margin: 15px 0;
        }

        .testim .cont div p {
            font-size: 1.15em;
            color: #222;
            width: 80%;
            min-height: 150px;
            margin: auto;
        }

        .testim .cont div.active h2 {
            -webkit-animation: testim-content-in .4s ease-in-out forwards;
            -moz-animation: testim-content-in .4s ease-in-out forwards;
            -ms-animation: testim-content-in .4s ease-in-out forwards;
            -o-animation: testim-content-in .4s ease-in-out forwards;
            animation: testim-content-in .4s ease-in-out forwards;
        }

        .testim .cont div.active p {
            -webkit-animation: testim-content-in .5s ease-in-out forwards;
            -moz-animation: testim-content-in .5s ease-in-out forwards;
            -ms-animation: testim-content-in .5s ease-in-out forwards;
            -o-animation: testim-content-in .5s ease-in-out forwards;
            animation: testim-content-in .5s ease-in-out forwards;
        }

        .testim .cont div.inactive h2 {
            -webkit-animation: testim-content-out .4s ease-in-out forwards;
            -moz-animation: testim-content-out .4s ease-in-out forwards;
            -ms-animation: testim-content-out .4s ease-in-out forwards;
            -o-animation: testim-content-out .4s ease-in-out forwards;
            animation: testim-content-out .4s ease-in-out forwards;
        }

        .testim .cont div.inactive p {
            -webkit-animation: testim-content-out .5s ease-in-out forwards;
            -moz-animation: testim-content-out .5s ease-in-out forwards;
            -ms-animation: testim-content-out .5s ease-in-out forwards;
            -o-animation: testim-content-out .5s ease-in-out forwards;
            animation: testim-content-out .5s ease-in-out forwards;
        }

@-webkit-keyframes testim-scale {
    0% {
        -webkit-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -webkit-box-shadow: 0px 0px 10px 5px #eee;
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        -webkit-box-shadow: 0px 0px 10px 5px #337ab7;
        box-shadow: 0px 0px 10px 5px #337ab7;
    }

    100% {
        -webkit-box-shadow: 0px 0px 0px 0px #337ab7;
        box-shadow: 0px 0px 0px 0px #337ab7;
    }
}

@-moz-keyframes testim-scale {
    0% {
        -moz-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -moz-box-shadow: 0px 0px 10px 5px #eee;
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        -moz-box-shadow: 0px 0px 10px 5px #337ab7;
        box-shadow: 0px 0px 10px 5px #337ab7;
    }

    100% {
        -moz-box-shadow: 0px 0px 0px 0px #337ab7;
        box-shadow: 0px 0px 0px 0px #337ab7;
    }
}

@-ms-keyframes testim-scale {
    0% {
        -ms-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -ms-box-shadow: 0px 0px 10px 5px #eee;
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        -ms-box-shadow: 0px 0px 10px 5px #337ab7;
        box-shadow: 0px 0px 10px 5px #337ab7;
    }

    100% {
        -ms-box-shadow: 0px 0px 0px 0px #337ab7;
        box-shadow: 0px 0px 0px 0px #337ab7;
    }
}

@-o-keyframes testim-scale {
    0% {
        -o-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -o-box-shadow: 0px 0px 10px 5px #eee;
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        -o-box-shadow: 0px 0px 10px 5px #337ab7;
        box-shadow: 0px 0px 10px 5px #337ab7;
    }

    100% {
        -o-box-shadow: 0px 0px 0px 0px #337ab7;
        box-shadow: 0px 0px 0px 0px #337ab7;
    }
}

@keyframes testim-scale {
    0% {
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        box-shadow: 0px 0px 10px 5px #337ab7;
    }

    100% {
        box-shadow: 0px 0px 0px 0px #337ab7;
    }
}

@-webkit-keyframes testim-content-in {
    from {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-moz-keyframes testim-content-in {
    from {
        opacity: 0;
        -moz-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
}

@-ms-keyframes testim-content-in {
    from {
        opacity: 0;
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@-o-keyframes testim-content-in {
    from {
        opacity: 0;
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes testim-content-in {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes testim-content-out {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-moz-keyframes testim-content-out {
    from {
        opacity: 1;
        -moz-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        opacity: 0;
        -moz-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-ms-keyframes testim-content-out {
    from {
        opacity: 1;
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        opacity: 0;
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-o-keyframes testim-content-out {
    from {
        opacity: 1;
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@keyframes testim-content-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@-webkit-keyframes testim-show {
    from {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes testim-show {
    from {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }

    to {
        opacity: 1;
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@-ms-keyframes testim-show {
    from {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }

    to {
        opacity: 1;
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@-o-keyframes testim-show {
    from {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }

    to {
        opacity: 1;
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes testim-show {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes testim-hide {
    from {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-moz-keyframes testim-hide {
    from {
        opacity: 1;
        -moz-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }
}

@-ms-keyframes testim-hide {
    from {
        opacity: 1;
        -ms-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }
}

@-o-keyframes testim-hide {
    from {
        opacity: 1;
        -o-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes testim-hide {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0);
    }
}

@media all and (max-width: 300px) {
}

@media all and (max-width: 500px) {
    .testim .arrow {
        font-size: 1.5em;
    }

    .testim .cont div p {
        line-height: 25px;
    }
}

@media all and (max-width: 1220px) {
    .testim {
        height: 35px;
    }
}