<template>
    <q-card>
        <q-card-section>
            <q-card class="my-card">
                <q-card-section>
                    <h3>Coaching Page</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                    </p>    
                </q-card-section>
                <q-card-section>
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> 
                    <a href="/Payment">Click here to pay</a>
                    
                </q-card-section>
            </q-card>
              
        </q-card-section> 
    </q-card>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    name: 'Coaching'
})
</script>