<template>
    <li class="list-group-item">
        <span v-html="bonus.text"></span>
    </li>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    name: 'Bonus',
    props: {
        bonus: Object,
        withLink: Boolean
    }
})
</script>