<template>
    <div class="ticks"  v-if="ticks">
        <div class="col-md-6  col-md-push-6" style="padding-left:10px; color: #fff; text-align: left; font-size: 12px; border: #111 1px solid; border-radius: 10px;">
                <h1 style="color: #333; font-size: 26px;font-weight:700;"><strong>{{ TicksHeading }}</strong> </h1>
        
        <span v-for="tick in ticks" v-bind:key="tick.id">
            <ul class="list-group list-group-flush" style="border: none">
                <Tick v-bind:tick="tick" v-bind:withLink="true" />
            </ul>
            
        </span>
            <bonuses></bonuses>
        </div>
        
    </div>
    <div v-else>
        Loading posts....
    </div>
</template>

<script>
import { getPaymentPage, getTicks } from './../../../services';
import Tick from './Tick.vue'
import bonuses from 'components/pages/payment/PaymentBonuses.vue'

export default {
    name: 'TicksSite',
    props: ['TicksHeading', 'BonusHeading'],
    components: {
        Tick,
        bonuses
    },
    data: () => {
        return {
            ticks: null
        }
    },
    methods: {
        loadTicks: async function() {
            this.ticks = null;
            console.log('LoadTicks fired')
            try {

                console.log('fired try')
                var lang = 'en'

                const result = await getTicks();

                this.ticks = result.ticks;

                console.log('ticks generated ' + this.ticks)
            } catch (ex) {
                this.ticks = [];
            }

        },
    },
    created: function() {
        console.log('Ticks created fired')
        this.loadTicks()
    }
}
</script>