<template>
    <div class="bonus">
        <h3 style="color: #333; line-height: 35px; font-weight: 300; margin-left: 15px;">Plus, you’ll get these extra Bonuses:</h3>
            <span v-for="bonus in bonuses" v-bind:key="bonus.id">
                <ul class="list-group list-group-flush" style="border: none">
                    <Bonus v-bind:bonus="bonus" v-bind:withLink="true" />
                </ul>
            </span>

    </div>
</template>
<script>
import { getBonuses } from './../../../services'
import Bonus from './Bonus.vue'

export default {
    name: 'BonusSite',
    components: {
        Bonus
    },
    data: () => {
        return {
            bonuses: null
        }
    },
    methods: {
        loadBonuses: async function() {
            this.bonuses = null

            try {

                var lang = 'en'

                const result = await getBonuses(lang)

                this.bonuses = result.bonuses

                
            } catch (ex) {
                this.bonuses = []
            }
        }
    },
    created: function(){

        this.loadBonuses()
    }
}
</script>