<template>
    <span>
        <ticks></ticks>
        <div class="ticks">
            <div class="col-md-6  col-md-push-6" style="padding-left:10px; color: #fff; text-align: left; font-size: 12px; border: #111 1px solid; border-radius: 10px;">

                <h1 style="color: #333; font-size: 26px;"><b>Here’s What You’ll Get:</b></h1>

                <ul class="list-group list-group-flush" style="border: none">
                    <li class="list-group-item">
                        <p style="margin-left: 15px; margin-top: -5px;">My 7-part putting solutions system – this has never before been revealed to amateur golfers, until now.  Gain a deep understanding of all 7 parts, apply what you learn and start to become a world class putter.</p>
                    </li>
                    <li class="list-group-item">
                        <p style="margin-left: 15px; margin-top: -5px;">Finally, understand your individual stroke and how to get the most out of your unique style. This is the most comprehensive and personalised putting program, ever put together.</p>
                    </li>
                    <li class="list-group-item">
                        <p style="margin-left: 15px; margin-top: -5px;">Your full 12-week step by step journey, to make the most efficient use of your time as you join the academy including your bi-weekly online training sessions guiding you through your exact plan to fast-track your success.</p>
                    </li>
                    <li class="list-group-item">
                        <p style="margin-left: 15px; margin-top: -5px;">Full access to over 300 videos in 7 different modules, designed specifically to help with every aspect of your putting game.</p>
                    </li>
                        <li class="list-group-item">
                        <p style="margin-left: 15px; margin-top: -5px;">Full access to the Phil Kenyon putting Academy for 12 months including all new updates, features, additional content and some exciting surprises along the way.</p>
                    </li>
                    <li class="list-group-item">
                        <p style="margin-left: 15px; margin-top: -5px;">Learn the right drills to practice so you can go from those cards wrecking 3 putts to sinking putt after putt.</p>
                    </li>
                    <li class="list-group-item">
                        <p style="margin-left: 15px; margin-top: -5px;">Finally, you’ll know how to go about getting the correct putter for you as we have a whole section on that area.</p>
                    </li>
                    <li class="list-group-item">
                        <p style="margin-left: 15px; margin-top: -5px;"></p>
                        Get all of your questions answered by academy coaches.</li>
                    <li class="list-group-item">
                        <p style="margin-left: 15px; margin-top: -5px;">Have your own personal ‘locker room’ where the videos that are most important to you are stored for your ease of reference.</p>
                    </li>
                    <li class="list-group-item">
                        <p style="margin-left: 15px; margin-top: -5px;">Access to tools and trackers (such as our putts gained tracker), challenges, tour insights, and much more.</p>
                    </li>
                    <li class="list-group-item">
                        <p style="margin-left: 15px; margin-top: -5px;"></p>
                        And of course, you have my ‘steal my stuff’ 14-day money back guarantee. </li>

                </ul>

                <div class="bonus">

                    <h2 style="color: #333; line-height: 35px; font-weight: 300; margin-left: 15px;">Plus, you’ll get these extra Bonuses:</h2>

                    <ul class="list-group list-group-flush" style="border: none">
                        <li class="list-group-item">
                            <p style="margin-left: 15px; margin-top: -15px;background: transparent;">
                                <b>Winning the inner game</b><br />
                                Gain the world leading insights of European Tour sports psychologist Lee Crombleholme, who will be delivering your 3 part webinar series to make sure your mental game is rock solid. This is something he has never done before and has been reserved for the pro’s…until now!
                            </p>

                        </li>
                        <li class="list-group-item">
                            <p style="margin-left: 15px; margin-top: -15px;">
                                <b>Bulletproof core and Postural success</b><br />
                                Kev Duffy, founder of Duffy Golf Performance will give you access to a 28-day posture and core program directed at reducing your aches and pains whilst giving the edge when it comes to powering your drive. Kevin is currently working with some of the best players in the world in the PGA and European tour and they trust him to look after their full physical wellbeing. 
                            </p>

                        </li>
                        <li class="list-group-item">
                            <p style="margin-left: 15px; margin-top: -15px;">
                                <b>Your Personal Putting Discount Pack </b>
                                <br />
                                This pack includes huge one-off discounts from some of our most trusted partners including Visio, Odyssey and SuperStroke
                            </p>

                        </li>
                        <li class="list-group-item">
                            <p style="margin-left: 15px; margin-top: -15px;">
                                <b>Eat to win</b><br />
                                Nutrition on a round is a huge part of golfing success and you will have the European tours Head of Nutrition Professor Graeme Close giving you the nutritional plan to feed your rounds. This 2-part webinar series with one of the world’s leading Nutrition specialists will be yours when you join the academy.
                            </p>

                        </li>
                        <p style="width: 98.2%;">
                            <b>Those Bonuses alone are worth well over £700 (not to mention the fact that would never be able to see these experts because they are so busy!).<br />
                                <br />
                                So, what are you waiting for…this really is the most comprehensive, personalised putting solution that has ever been produced? 
                                <br />
                                <br />
                                Start learning to Putt like a Pro from anywhere in the world by clicking the ‘Join Phil’s academy’ button and I look forward to seeing you in there.
                            </b>
                        </p>
                    </ul>
                </div>
        </div>
        </div>
    </span>
</template>
<script lang="ts">
import Vue from 'vue'
import ticks from 'components/pages/payment/PaymentTicks.vue'
export default Vue.extend({
    name: 'PaymentText',
    components: {
        ticks
    }
})
</script>