<template>
    <q-page>
          <q-card>
            <q-card-section>
              <div class="q-pa-md row items-start q-gutter-md">
                <q-card class="my-card">
                   <q-card-section>
                    <q-form
                      @submit="pay"
                      @reset="reset"
                      class="q-gutter-md"
                    >
                        <div class="row">
                                <div class="col-50">
                                  <label for="firstname">First Name</label>
                                    <q-input
                                    filled
                                    v-model="firstname"
                                    label="Your first name *"
                                    lazy-rules
                                    :rules="[ val => val && val.length > 0 || 'Required']"
                                />
                                </div>
                            <div class="col-50">
                              <label for="lastname">Last Name</label>
                                <q-input
                                    filled
                                    v-model="lastname"
                                    label="Your last name *"
                                    lazy-rules
                                    :rules="[ val => val && val.length > 0 || 'Required']"
                                />
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-50">
                                    <label for="fname">Email Address</label>
                                    <q-input
                                    filled
                                    v-model="emailaddress"
                                    label="Your Email *"
                                    lazy-rules
                                    :rules="[ val => val && val.length > 0 || 'Required']"
                                />
                                </div>
                            <div class="col-50">
                              <label for="fname">Phone</label>
                                <q-input
                                    filled
                                    v-model="phone"
                                    label="Your Phone Number *"
                                    lazy-rules
                                    :rules="[ val => val && val.length > 0 || 'Required']"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-100">
                                <h4>Billing Details</h4>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-50">
                                    <label for="fname">Address Line 1</label>
                                    <q-input
                                    filled
                                    v-model="address_line1"
                                    label="Line One *"
                                    lazy-rules
                                    :rules="[ val => val && val.length > 0 || 'Please type something']"
                                />
                                </div>
                            <div class="col-50">
                                <label for="fname">Address Line 2</label>
                                  <q-input
                                    filled
                                    v-model="address_line2"
                                    label="Line 2 *"
                                    lazy-rules
                                    :rules="[ val => val && val.length > 0 || 'Please type something']"
                                  />
                            </div>
                        </div>
                        
                        <div class="row">
                                <div class="col-50">
                                    <label for="fname">Town/City</label>
                                    <q-input
                                    filled
                                    v-model="address_city"
                                    label="Town/City *"
                                    lazy-rules
                                    :rules="[ val => val && val.length > 0 || 'Please type something']"
                                />
                                </div>
                            <div class="col-50">
                                
                            </div>
                        </div>

                        <div class="row">
                                <div class="col-50">
                                    <label for="fname">Post Code</label>
                                  <q-input
                                    filled
                                    v-model="address_postcode"
                                    label="Post Code *"
                                    lazy-rules
                                    :rules="[ val => val && val.length > 0 || 'Please type something']"
                                  />
                                </div>
                            <div class="col-50">
                                <label for="fname">Country</label>
                                <q-select 
                                v-model="model" 
                                :options="options"
                                option-value="id"
                                option-label="desc" 
                                label="Select Country" />
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-50">
                            Amount
                          </div>
                          <div class="col-50"></div>
                        </div>
                        <div>
                          <card class='stripe-card'
                            :class='{ complete }'
                            stripe='pk_test_8AuI0i9pYw4zSNAm1GZYmbBC00HzTs7x3N'
                            :options='stripeOptions'
                            @change='complete = $event.complete'
                          />

                        </div>
                        
                        <div>
                          <div id="card-errors"></div>
                          <button class='pay-with-stripe q-ml-sm' @click='pay' :disabled='!complete'>Pay with credit card</button><br>

                        </div>
                    </q-form>
                  </q-card-section>   
                </q-card>
                <q-card class="my-card">
                  <q-card-section>

                      <ticks
                        v-if="content"
                        v-bind:TicksHeading="content.tickheading">
                      </ticks>
                      
                  </q-card-section>
                </q-card>
                </div>
            </q-card-section>
          </q-card>
            
    </q-page>
</template>
<script>
import Vue from 'vue'
import { getPaymentPage } from './../../../services'

import ticks from 'components/pages/payment/PaymentTicks.vue'

import { Card, createToken } from 'vue-stripe-elements-plus'

export default Vue.extend({
    data () {
      content: {
        id: '';
        tickheading: '';
        bonusheading: '';
      }
    return {
      content: {
        id: '',
        tickheading: '',
        bonusheading: ''
      },
      stripeKey: 'pk_test_8AuI0i9pYw4zSNAm1GZYmbBC00HzTs7x3N',
      lockSubmit:false,
      api:'http://localhost:7071/api/',
      payAmount: '$10.00',
      currencySelected: 'USD',
      firstname: null,
      lastname: null,
      emailaddress: null,
      phone: null,
      address_line1: null,
      address_line2: null,
      address_city: null,
      address_state: null,
      address_postcode:null,
      billingstreet: null,
      billingtown: null,
      billingpostcode: null,
      billingcountry: null,
      vouchercode: null,
      accept: false,
      model: null,
      options: [
        {id: 'AF', desc: 'Afghanistan'}, 
        {id: 'AL', desc: 'Albania'}, 
        {id: 'DZ', desc:  'Algeria'}, 
        {id: 'AS', desc: 'American Samoa'}, 
        {id: 'AD', desc: 'Andorra'},
        {id: 'UK', desc: 'United Kingdom'}
      ],
       complete: false,
        stripeOptions: {
          // see https://stripe.com/docs/stripe.js#element-options for details
        }
    }
  },
  components: {
    Card,
    ticks
  },
  methods: {
    pay() {
      // createToken returns a Promise which resolves in a result object with
      // either a token or an error key.
      // See https://stripe.com/docs/api#tokens for the token object.
      // See https://stripe.com/docs/api#errors for the error object.
      // More general https://stripe.com/docs/stripe.js#stripe-create-token.
      // createToken().then(data => console.log(data.token))
      var name = this.firstname + ' ' + this.lastname;

      // createToken({name: name})
     //.then(data => console.log(data.token));

      const {token, error} = createToken({name: name})
      .then(data => {

          // Send this to the Server
          this.stripeTokenHandler(data.token.id)
          console.log(data.token)
      })
      if(error){
         const errorElement = document.getElementById('card-errors');
         errorElement.textContent = error.message;
         this.complete = false
         console.log('an error occurred ' + error)
      }

      //.then(data => console.log(data.token));
    },
    reset() {
      // Reset all the fields
    },
    stripeTokenHandler(token){

     var cardTransaction = {
          amount: this.stripCurrency(this.payAmount), //stripe uses an int [with shifted decimal place] so we must convert our payment amount
          currency: self.currencySelected,
          description:'Card Transaction Description',
          token:token
      }
      console.log('Card Transaction: ' + cardTransaction)
      console.log('token: ' + token)

      // Fire at function
      var route = this.api+'ProcessPayment'
      this.$axios.post(route, cardTransaction, {
        headers: {

        }
      }).then(response => {
        if(response.status==200){
            console.log('Transaction succeeded')
        } else{
          console.log('Call Failed')
        }
        
      }).catch((err) => {
        console.log('An error occurred ' + err.message)
        this.complete = false
      })




    },
    stripCurrency(amount){

      // var strip = val.replace()
      console.log('Value ' + amount)

      return amount.replace(',','').replace('$','').replace('.','')
    },
    loadPage: async function() {
        this.content = null
            try {
                
                const result = await getPaymentPage()
                 this.content = result

            } catch (ex) {
                console.log('error: ' + ex.message)
                this.content = null
            }
    }
  },
  mounted: function() {
      this.loadPage()
  }
})
</script>

<style>
.stripe-card {
  width: 300px;
  border: 1px solid grey;
}
.stripe-card.complete {
  border-color: green;
}
.my-card {
  width: 100%;
  max-width: 550px;
  box-shadow: 0 0px;
}
 
.left{
  max-width: 550px;
}
.right {
  float: right;
}
/* Style inputs, select elements and textareas */


/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */


/* Style the container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-50 {
   float: left;
   width: 50%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
</style>