<template>
    <li class="list-group-item">
        <span class="ParagraphTick" v-html="tick.text"></span>
    </li>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    name: 'Tick',
    props: {
        tick: Object,
        withLink: Boolean
    }
})
</script>
<style lang="scss" scoped>
.ParagraphTick p {
    margin-left: 15px;
    margin-top: -5px;
}
</style>