<template>
    <section class="banner-section" style="background:#333">
            <div class="container">
         
                <h1 style="line-height:30px;">Work from home with the "hottest putting coach in the world"</h1>
                  
            </div>
        </section>
</template>
<script>
import Vue from 'vue'
export default Vue.extend({
    name: 'BannerSection'
})
</script>