<template>
    <section class="sectionTop">
        <div class="row">
            <div class="row" style="margin-bottom:60px;text-align:center">
            <h2 class="col-md-10 col-md-offset-1">               
                <div class="rich-text__heading--medium text-center">
            <h2 class="h3 txt--upper txt--spacing rich-text__heading--background"><span>Frustrated with your game? Imagine what your handicap would be if you could putt consistently well? </span></h2>
            </div>

           </h2>
            <h3 class="col-md-10 col-md-offset-1" style="color:#fff;font-weight:100;background:#333;padding:30px;">3 Powerful reasons why this Putting Academy will enhance your game and produce rapid results on the course... </h3>
        </div>
        </div>
        <div class="row">
            <div class="col-md-4" >
                    <div class="shadow" style="padding:20px;">
                        <h3><span class="firstcharacter">1</span> A system designed to help the best  </h3>
                        <h4  style="line-height:30px;letter-spacing:0.5px"></h4>
                            
                        <p>This system has been developed over 20 years by world-renowned putting coach Phil Kenyon.</p>
                        <p>Phil and his team have worked with some of the best golfers on the planet including Rory McIlroy, Brooks Koepka, Justin Rose, Francesco Molinari and Tommy Fleetwood. The team have had huge success including over 70 wins on the European and PGA tours, 4 Major Wins and coached at 4 Ryder Cups.</p>
                        <p>This system has transformed the putting of the best players in the world. If the academy can do that for players who are already outstanding, imagine the difference we can make to your game!</p>
                        <p>This is the first-time access to these systems have ever been available to club golfers around the globe and the impact on founding members has already been dramatic.</p>

                </div>
            </div>
            <div class="col-md-4">
                 <div class="shadow" style="padding:20px;">
                    <h3><span class="firstcharacter">2</span> Online delivery in the comfort of your home or office from anywhere on the planet </h3>
                    <h4  style="line-height:30px;letter-spacing:0.5px"> </h4>   
                    <p>We understand how frustrated you are with your game. Inconsistent results on the green, missing short putts and too many 3 putts can destroy your handicap, zap your confidence and take away your love of the game.</p>
                    <p>Imagine being known as a great putter and feeling the rock-solid confidence of having a consistent stroke that allows you to hole out time after time.</p>
                    <p>Maybe it's time to go from your weekend being ruined by bad, nervy putts to winning competitions and taking money off your friends every weekend instead.</p>
                    <p>Join the 1000+ members already benefiting from being part of the best putting team in the game.</p>
                </div>
            </div>
             <div class="col-md-4">
                     <div class="shadow" style="padding:20px;">
                        <h3><span class="firstcharacter">3</span> Game changing putting solutions specific to you</h3>
                        <h4  style="line-height:30px;letter-spacing:-0.5px"></h4>
                        <p>This is the most complete and individual putting programme available anywhere in the world, with access to over 250 videos.</p>
                        <p>The programme is designed to test your specific faults, strengths and weakness. You will then be guided through a step by step plan which covers all 7 aspects of Phil's system.</p>
                        <p>If you struggle with technique, pace or green reading, there are modules in each area and much, much more.</p>
                        <p>You can do this in your own time and pace, or you can follow the 12-week step by step road map. You can ask questions and learn from other golfers in our community. There's also challenges, competitions, members-only content and tour insights from Phil.</p> 
                        <p>We have a team of outstanding coaches to help with everything from answering questions to 1-1 putting analysis.</p>
                    </div>
            </div>
        </div>
    </section>
</template>
<script>
import Vue from 'vue'
export default Vue.extend({
    name: 'BlueSection'
})
</script>
<style>
@import '../../../css/custom.css';
</style>
<style lang="scss" scoped>
 .firstcharacter {
  color: #2c5e91;
  font-weight:bold;
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
 }
.sectionTop {
    padding-top: 50px;
    padding-left: 20px;
}
</style>