<template>
<q-page>
    <section id="home-section">
    
        
    </section>
</q-page>
    
</template>
<script>
import Vue from 'vue'
export default Vue.extend({
    
})
</script>
<style type="text/css">


</style>