<template>
<q-page>
    <homesection></homesection>
    <bannersection></bannersection>
    <bluesection></bluesection>
</q-page>
</template>
<script lang="ts">
import homesection from './HomeSection.vue';
import bannersection from './BannerSection.vue';
import bluesection from './BlueCardSection.vue';
export default{
    name: 'Index',
    components: {
        homesection,
        bannersection,
        bluesection
    }
}
</script>